$primary-color:#fff;
$secondary-color:#2C4058;
$tertiary-color:#55B7FF;
$commerce_background:#7E5AFF;
$font_size_1:14px;
$font_size_2:15px;
$font_size_3:18px;
$font_size_4:22px;
$font_size_5:44px;
$font_size_6:80px;