@import '../styles/vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: "Josefin Sans",
        sans-serif;
    color: $primary_color;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}