.header_navigation {
  background-color: #5474fd;
  width: 100%;
  min-height: 80px;
  display: flex;
}
.header_navigation .header_navigation_container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_navigation .header_navigation_container .logo {
  max-width: 186px;
  width: 100%;
  height: 20px;
}

.nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
}
.nav_list li {
  display: inline-flex;
  vertical-align: middle;
  font-family: "Aleo", serif;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
}