@import '../styles/vars';


.why_choose_us_container {
    background-image: url('./images/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 685px;
    width: 100%;
}

.why_choose_us {
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .why_choose_us_left {
        width: 51%;
        margin-top: 212px;

        h2 {
            font-size: 36px;
            line-height: 26px;
            font-family: "Aleo", serif;
            margin-bottom: 50px;
            font-weight: 400;
        }

        p {
            font-size: 16px;
            letter-spacing: 1.6px;
            line-height: 26px;
            color: $text_color;
            margin-bottom: 30px;

            &:last-of-type {
                margin-bottom: 45px;
            }
        }
    }
}

.why_choose_us_right {
    .wcu_img_up {
        margin-top: 118px;
        padding-right: 90px;
        margin-bottom: 10px;
    }

    .wcu_img_down {
        padding-left: 90px;
    }
}

.search_select_books {
    background-color: $secondary_bg_color;

    .container {
        max-width: 1175px;
        width: 90%;
        margin: 0 auto;
    }
}

.elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    gap: 30px;
    padding-bottom: 116px;
    position: relative;

    .elements_icons {
        display: flex;
        flex-direction: column;
        align-items: center;


        .elements_icons_image {
            padding-bottom: 30px;
        }

        h3 {
            font-family: "Aleo", serif;
            line-height: 26px;
            font-size: 36px;
            color: $text_color;
            font-weight: 400;
        }
    }
}

.bg_lines {
    &::before {
        content: "";
        width: 405px;
        height: 190px;
        border-radius: 50%;
        position: absolute;
        top: 40px;
        bottom: 40px;
        border: 2px solid transparent;
        border-top: 2px solid #ffffff;
        left: 50%;
        opacity: 50%;
    }

    &::after {
        content: "";
        width: 405px;
        height: 190px;
        border-radius: 50%;
        position: absolute;
        top: 40px;
        bottom: 40px;
        border: 2px solid transparent;
        border-top: 2px solid #ffffff;
        left: 15%;
        opacity: 50%;
    }
}

@media screen and (max-width: 1100px) {

    .bg_lines::before,
    .bg_lines::after {
        width: 300px;
    }
}

@media screen and (max-width:768px) {

    .bg_lines::before,
    .bg_lines::after {
        width: 250px;
    }
}

.grand_spain_container {
    width: 100%;
    margin: 0 auto;
}

.grand_spain_one {
    background-image: url('./images/section2_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;

    .grand_spain_one_container {
        max-width: 1175px;
        width: 100%;
        margin: 0 auto;
        padding-top: 230px;


        .spain_box_one {
            display: flex;
            justify-content: flex-start;
        }
    }
}

.card {
    max-width: 540px;
    width: 100%;
    background-color: $secondary_bg_color;
    padding-left: 30px;
    margin-bottom: 100px;

    h3 {
        font-family: "Josefin Sans", sans-serif;
        line-height: 26px;
        letter-spacing: 1.5px;
        font-size: 20px;
        font-weight: 400;
        margin-top: 47px;
    }

    h4 {
        font-family: "Josefin Sans", sans-serif;
        text-transform: uppercase;
        line-height: 26px;
        font-size: 20px;
        margin-top: 23px;
        font-weight: 400;

    }

    p {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        margin-top: 13px;
        margin-bottom: 46px;
    }

    .btn {
        margin-bottom: 49px;
        border: none;
        text-transform: uppercase;
        max-width: 228px;
        width: 100%;
        transition: background-color 0.3s ease,
            transform 0.3s ease;

        &:hover {
            background-color: $btn_hover;
            transform: scale(1.05);
        }
    }
}

.grand_spain_two {
    background-image: url('./images/section3_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;

    .grand_spain_two_container {
        max-width: 1175px;
        width: 100%;
        margin: 0 auto;
    }
}

.spain_box_two {
    display: flex;
    justify-content: flex-end;

    .card {
        margin-top: 227px;
    }
}

.tourist {
    background-image: url('./images/section4_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;

    .tourist_container {
        max-width: 1175px;
        width: 100%;
        margin: 0 auto;

        h2 {
            padding-top: 128px;
            margin-bottom: 91px;
            text-align: center;
            font-family: "Aleo", serif;
            font-weight: 400;
            line-height: 26px;
            font-size: 36px;
            text-transform: capitalize;
        }
    }
}

.tourist_comments {
    display: flex;
    padding-bottom: 200px;

    .tourist_image {
        flex-basis: 45%;

        img {
            object-fit: cover;
            max-width: 445px;
            width: 100%;
            height: 100%;
        }
    }

    .tourist_quote {
        background-color: $secondary_bg_color;
        flex-basis: 75%;
        padding: 49px 25px 39px 62px;

        h4 {
            font-family: "Josefin Sans", sans-serif;
            font-size: 20px;
            line-height: 26px;
            font-weight: 400;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        p {
            font-family: "Josefin Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }

        i {
            color: $base_color;
            font-size: 35px;
            padding-right: 10px;
        }
    }
}