header {
  padding-top: 60px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  max-width: 90px;
}

.nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.navlist_item {
  font-size: 18px;
  font-weight: bold;
  color: #111111;
  letter-spacing: -0.35px;
  display: inline-flex;
  vertical-align: middle;
  transition: color 0.5s ease;
}
.navlist_item:hover {
  transform: scale(1.1);
  color: #ff0000;
}