.btn {
  width: 336px;
  height: 60px;
  border: none;
  background-color: #FF7F57;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.5s ease-in;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0);
}
.btn:hover {
  transform: translateX(10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #d9623d;
}

.heading {
  color: #13253A;
  font-weight: 700;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding-bottom: 20px;
}

.intro_text {
  font-size: 16px;
  color: #2557ab;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.note {
  color: #13253A;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
}