.hero {
  background-color: #f4f6f7;
  padding-top: 150px;
  padding-bottom: 150px;
}

.hero_contents {
  display: flex;
  align-items: center;
  gap: 130px;
}
.hero_contents .heading {
  font-size: 46px;
  padding-bottom: 10px;
  letter-spacing: -1px;
  font-weight: 700;
}

.column {
  flex: 1;
}

.cards {
  display: flex;
  gap: 30px;
}

.banner {
  padding-top: 120px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .heading {
  font-size: 20px;
  padding-bottom: 5px;
}
.banner .description {
  text-align: center;
}

.banner .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner_title {
  color: #13253A;
  font-size: 38px;
  letter-spacing: -0.5px;
  padding-bottom: 30px;
  font-weight: 400;
}

.banner_icon {
  padding-bottom: 20px;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.metrics {
  background-color: #f4f6f7;
}
.metrics .small_container {
  display: flex;
  justify-content: center;
}
.metrics .cards {
  gap: 125px;
}

.indexes {
  display: flex;
}
.indexes .heading {
  color: #13253A;
  font-size: 46px;
  font-weight: 400;
}
.indexes .icon {
  color: #FF7F57;
  font-size: 46px;
  font-weight: 100;
}

.medium_container .heading {
  font-size: 38px;
  padding-bottom: 30px;
}

.column2 {
  flex: 2;
}
.column2 .description {
  align-items: center;
}

.logo_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 73px;
  align-items: center;
  padding-top: 60px;
  overflow: hidden;
}

.action {
  padding-top: 100px;
}

.action_section {
  display: flex;
  align-items: center;
  gap: 90px;
}
.action_section .heading {
  font-size: 38px;
  width: 370px;
  padding-bottom: 20px;
  font-weight: 700;
}

.client_logo {
  width: 100%;
  transition: transform 0.5s ease;
}
.client_logo:hover {
  transform: scale(1.1);
}

.check_icon {
  font-size: 16px;
  color: #FF7F57;
}

.list_item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.list_text {
  color: #13253A;
  font-size: 15px;
  font-weight: 600;
  line-height: 27px;
}
.list_text:hover {
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.website {
  background-color: #FF7F57;
}
.website .small_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.website .intro_text {
  color: #fff;
}
.website .heading {
  color: #fff;
  font-size: 46px;
  letter-spacing: -1px;
  padding-bottom: 10px;
  font-weight: 600;
}
.website .description {
  color: #fff;
  text-align: center;
}

.contact {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #11364e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_title {
  color: #fff;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: -0.5px;
  padding-bottom: 30px;
}

.form_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #13253a;
  padding-top: 16px;
  padding-bottom: 16px;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
.copyright:hover {
  color: #ff0000;
}