$base_bg:#f4f6f7;
$text-color:#13253A;
$item_hover:#ff0000;
$shadow:#000;
$action:#FF7F57;
$light:#fff;
$primary_btn_hover:#d9623d;
$intro_highlights:#2557ab;
$border:#dce2e6;
$begin:#2557ab;
$contact_background:#11364e;
$footer_background:#13253a;