* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #2B3040;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 82px 220px;
}
.container .background_image {
  background-image: url(./images/background_image.jpg);
  background-size: cover;
  width: 100%;
  max-width: 1000px;
  height: 860px;
}