* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  margin: 0 auto;
}

.intro {
  background-image: url("./images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.intro_texts {
  margin: 0 auto;
  padding-top: 264px;
  padding-bottom: 108px;
  top: 70px;
  position: relative;
  cursor: pointer;
}

.title_text {
  letter-spacing: 11px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  text-align: center;
  margin-bottom: 11px;
}

.title_text_info {
  line-height: 26px;
  letter-spacing: 6.82px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 48px;
}

.search_bar {
  transition: transform 0.3s ease;
}
.search_bar:hover {
  transform: translateY(2px);
}
.search_bar i {
  position: absolute;
  top: 37%;
  left: 82%;
  transform: translate(-50%);
  font-size: 16px;
}

.search_button {
  position: relative;
}
.search_button img {
  position: absolute;
  top: 30%;
  left: 83%;
  width: 22px;
  height: 24px;
  transform: translate(-50%);
}

.scroll {
  text-align: center;
  margin-bottom: 134px;
}
.scroll h3 {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  transition: all 0.2s ease-in-out;
}
.scroll h3:hover {
  transform: scale(1.3);
  text-transform: uppercase;
}
.scroll i {
  width: 17px;
  height: 11px;
  transition: transform 0.3s ease;
}
.scroll i:hover {
  transform: translateY(5px);
}

.header_navigation {
  background-color: #5474fd;
  width: 100%;
  min-height: 80px;
  display: flex;
}
.header_navigation .header_navigation_container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_navigation .header_navigation_container .logo {
  max-width: 186px;
  width: 100%;
  height: 20px;
}

.nav_list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
}
.nav_list li {
  display: inline-flex;
  vertical-align: middle;
  font-family: "Aleo", serif;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
}
.nav_list a:hover {
  text-decoration: underline;
  color: #E0E0E0;
  text-underline-offset: 10px;
}

.why_choose_us_container {
  background-image: url("./images/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 685px;
  width: 100%;
}

.why_choose_us {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.why_choose_us .why_choose_us_left {
  width: 51%;
  margin-top: 212px;
}
.why_choose_us .why_choose_us_left h2 {
  font-size: 36px;
  line-height: 26px;
  font-family: "Aleo", serif;
  margin-bottom: 50px;
  font-weight: 400;
}
.why_choose_us .why_choose_us_left p {
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 26px;
  color: #e8e8e8;
  margin-bottom: 30px;
}
.why_choose_us .why_choose_us_left p:last-of-type {
  margin-bottom: 45px;
}

.why_choose_us_right .wcu_img_up {
  margin-top: 118px;
  padding-right: 90px;
  margin-bottom: 10px;
}
.why_choose_us_right .wcu_img_down {
  padding-left: 90px;
}

.search_select_books {
  background-color: #333333;
}
.search_select_books .container {
  max-width: 1175px;
  width: 90%;
  margin: 0 auto;
}

.elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
  gap: 30px;
  padding-bottom: 116px;
  position: relative;
}
.elements .elements_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elements .elements_icons .elements_icons_image {
  padding-bottom: 30px;
}
.elements .elements_icons h3 {
  font-family: "Aleo", serif;
  line-height: 26px;
  font-size: 36px;
  color: #e8e8e8;
  font-weight: 400;
}

.bg_lines::before {
  content: "";
  width: 405px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  bottom: 40px;
  border: 2px solid transparent;
  border-top: 2px solid #ffffff;
  left: 50%;
  opacity: 50%;
}
.bg_lines::after {
  content: "";
  width: 405px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  bottom: 40px;
  border: 2px solid transparent;
  border-top: 2px solid #ffffff;
  left: 15%;
  opacity: 50%;
}

@media screen and (max-width: 1100px) {
  .bg_lines::before,
.bg_lines::after {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .bg_lines::before,
.bg_lines::after {
    width: 250px;
  }
}
.grand_spain_container {
  width: 100%;
  margin: 0 auto;
}

.grand_spain_one {
  background-image: url("./images/section2_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
.grand_spain_one .grand_spain_one_container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  padding-top: 230px;
}
.grand_spain_one .grand_spain_one_container .spain_box_one {
  display: flex;
  justify-content: flex-start;
}

.card {
  max-width: 540px;
  width: 100%;
  background-color: #333333;
  padding-left: 30px;
  margin-bottom: 100px;
}
.card h3 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 26px;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 47px;
}
.card h4 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  line-height: 26px;
  font-size: 20px;
  margin-top: 23px;
  font-weight: 400;
}
.card p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 13px;
  margin-bottom: 46px;
}
.card .btn {
  margin-bottom: 49px;
  border: none;
  text-transform: uppercase;
  max-width: 228px;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.card .btn:hover {
  background-color: #3f5bbf;
  transform: scale(1.05);
}

.grand_spain_two {
  background-image: url("./images/section3_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
.grand_spain_two .grand_spain_two_container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
}

.spain_box_two {
  display: flex;
  justify-content: flex-end;
}
.spain_box_two .card {
  margin-top: 227px;
}

.tourist {
  background-image: url("./images/section4_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}
.tourist .tourist_container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
}
.tourist .tourist_container h2 {
  padding-top: 128px;
  margin-bottom: 91px;
  text-align: center;
  font-family: "Aleo", serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 36px;
  text-transform: capitalize;
}

.tourist_comments {
  display: flex;
  padding-bottom: 200px;
}
.tourist_comments .tourist_image {
  flex-basis: 45%;
}
.tourist_comments .tourist_image img {
  object-fit: cover;
  max-width: 445px;
  width: 100%;
  height: 100%;
}
.tourist_comments .tourist_quote {
  background-color: #333333;
  flex-basis: 75%;
  padding: 49px 25px 39px 62px;
}
.tourist_comments .tourist_quote h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.tourist_comments .tourist_quote p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.tourist_comments .tourist_quote i {
  color: #5474fd;
  font-size: 35px;
  padding-right: 10px;
}

.search_bar {
  display: flex;
  justify-content: center;
  margin-bottom: 108px;
}
.search_bar form {
  display: flex;
}
.search_bar input {
  display: flex;
  justify-content: center;
  min-width: 503px;
  height: 63px;
  width: 100%;
  border: none;
  letter-spacing: 2.8px;
  line-height: 26px;
  font-size: 14px;
  color: #999999;
  padding: 19px 108px;
  font-family: inherit;
  outline: none;
}

.btn {
  background-color: #5474fd;
  min-width: 153px;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-family: "Aleo", serif;
  padding: 16px 38px 16px 23px;
  letter-spacing: 1.4px;
  line-height: 26px;
  font-size: 14px;
  cursor: pointer;
}

.btn_places {
  max-width: 228px;
  width: 100%;
  letter-spacing: 1.2px;
  line-height: 26px;
  font-size: 16px;
  padding: 16px 35px;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.btn_places:hover {
  background-color: #3f5bbf;
  transform: scale(1.05);
}

footer {
  background-color: #333333;
  padding: 120px 0 50px;
}

.footer_container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
}

.footer_contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_contents .footer_logo {
  margin-bottom: 8px;
}
.footer_contents .footer_logo img {
  width: 100%;
  height: 100%;
}
.footer_contents h3 {
  font-family: "Josefin Sans", sans-serif;
  line-height: 26px;
  letter-spacing: 1.6px;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.social_links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.5);
}

.linkedin {
  color: #5474fd;
}