@import '../styles/vars';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat",
        serif;
    color: $primary-color;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}