.what_we_do {
  background-color: #fff;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.what_we_do_title {
  width: 100%;
  max-width: 324px;
  margin: 0 auto;
}
.what_we_do_title:before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #2c4058;
}
.what_we_do_title h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #2c4058;
  margin-top: 30px;
  text-transform: uppercase;
}

.projects {
  margin-top: 89px;
}
.projects img {
  position: relative;
  z-index: 10;
  vertical-align: top;
  box-shadow: -260px -57px #55B7FF;
}

.project_1,
.project_2 {
  width: 100%;
  max-width: 1385px;
  height: 527px;
}

.project_1 {
  margin-right: 215px;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.project_1 .project_image {
  width: 100%;
  height: 100%;
}

.project_details {
  padding-top: 85px;
  padding-bottom: 25px;
  width: 100%;
}
.project_details h3 {
  font-size: 22px;
  color: #2c4058;
  font-weight: 400;
  text-transform: uppercase;
}
.project_details h2 {
  font-size: 44px;
  color: #2c4058;
  font-weight: bold;
  text-transform: uppercase;
}
.project_details p {
  font-size: 18px;
  color: #2c4058;
  line-height: 30px;
  font-weight: 400;
  font-family: "Source Sans 3", serif;
  margin-top: 19px;
  letter-spacing: 1px;
}
.project_details button {
  margin-top: 41px;
  width: 100%;
  max-width: 190px;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #2c4058;
  background-color: #fff;
  cursor: pointer;
  padding: 16px 41px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  outline: none;
}
.project_details button:hover {
  background: #55B7FF;
  border-color: #55B7FF;
  color: #2c4058;
  box-shadow: 0px 0px 15px rgba(85, 183, 255, 0.6);
}
.project_details button:active {
  transform: scale(0.95);
  background: #d00000;
  border-color: #d00000;
  box-shadow: 0px 0px 15px rgba(208, 0, 0, 0.6);
}
.project_details button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 80%);
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}
.project_details button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.project_details .coordinates {
  margin-top: 60px;
}
.project_details .coordinates i {
  font-size: 15px;
  color: #2c4058;
  margin-right: 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.project_details .coordinates i:hover {
  color: #d00000;
  transform: scale(1.2);
}
.project_details .coordinates a {
  color: #2c4058;
  font-family: "Source Sans 3", serif;
  font-size: 15px;
  font-style: italic;
}

.project_2 {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
.project_2 img {
  box-shadow: 260px -57px #7E5AFF;
}

#news {
  padding-top: 40px;
}

.news_section {
  background: url("../images/news_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 143px;
}

.news_section_content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news_section_content .news_title {
  width: 100%;
  max-width: 327px;
  padding-top: 135px;
  text-align: center;
}
.news_section_content .news_title:before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #fff;
}
.news_section_content .news_title h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.article .slick-dots li button::before {
  content: "";
  color: transparent;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  opacity: 1;
}
.article .slick-dots li.slick-active button::before {
  background-color: #fff;
  opacity: 1;
}
.article .slick-dots li button:hover::before {
  background-color: #fff;
  opacity: 1;
}
.article .slick-dots {
  position: static;
  margin-top: 60px;
}
.article .slick-prev:before,
.article .slick-next:before {
  content: none;
  display: none;
}
.article .slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
}
.article .slick-next {
  right: -85px;
}
.article .slick-prev {
  left: -100px;
}
.article button.slick-arrow:hover {
  background: #fff;
  border-color: #fff;
  zoom: 1.1;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
}
.article button.slick-arrow:hover i {
  color: #0077FF;
  transform: scale(1.1);
}
.article i {
  font-size: 14px;
  color: #fff;
}

.carousel {
  margin: 89px auto 0;
  width: 90%;
  max-width: 1170px;
}

.article_details {
  width: 100%;
  max-width: 370px;
  height: 514px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 0 20px 0 15px;
}
.article_details img {
  width: 100%;
  height: 240px;
}
.article_details h2 {
  margin: 30px 20px 15px;
  color: #2c4058;
  font-weight: bold;
  font-size: 22px;
}
.article_details p {
  margin: 0 20px 39px;
  color: #2c4058;
  font-size: 18px;
  font-weight: 400;
  font-family: "Source Sans 3", serif;
  letter-spacing: 0.5px;
}
.article_details p:nth-child(3) {
  letter-spacing: 0.6px;
}
.article_details .authors {
  display: flex;
  align-items: center;
  margin: 0 115px 30px 20px;
  white-space: nowrap;
}
.article_details .authors img {
  width: 100%;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
}
.article_details .authors .author_details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.article_details .authors .author_details h3 {
  color: #2c4058;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 6px;
}
.article_details .authors .author_details p {
  color: #55B7FF;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.gallery {
  background-color: #fff;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.gallery_main_text {
  padding-top: 140px;
}
.gallery_main_text:before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #2c4058;
}
.gallery_main_text h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  color: #2c4058;
}

.main_gallery {
  padding-top: 89px;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.grid_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 9px 9px;
  padding-bottom: 60px;
}
.grid_gallery .gallery_image:first-of-type {
  grid-area: 1/1/3/3;
}
.grid_gallery .lg-thumb {
  display: block !important;
}