* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", serif;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  background-image: url("../images/first_section_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}

.header_container {
  width: 100%;
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_bar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding-top: 53px;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
.title_bar.scrolled {
  background: linear-gradient(360deg, #55B7FF 0%, #2c4058 50%, #7E5AFF 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding-top: 0;
}
@media screen and (max-width: 1220px) {
  .title_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 900px) {
  .title_bar {
    display: flex;
    align-items: center;
    justify-content: stretch;
    background: linear-gradient(360deg, #55B7FF 0%, #2c4058 50%, #7E5AFF 100%);
    padding-top: 0;
    gap: 10px;
    flex-direction: row;
  }
}

.header_logo {
  max-width: 241px;
  width: 100%;
  margin-right: 144px;
}
.header_logo img {
  transition: transform 0.3s ease-in-out;
}
.header_logo:hover img {
  transform: scale(1.1);
}
@media screen and (max-width: 1220px) {
  .header_logo {
    margin-right: 0;
    padding-top: 5px;
  }
}

.header_body {
  width: 100%;
  margin-top: 223px;
}
.header_body .slider_heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_body .slider_heading h2 {
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 20px;
  min-height: 98px;
}
.header_body .slider_heading h3 {
  font-weight: 400;
  letter-spacing: 30%;
  font-size: 18px;
  min-height: 22px;
  margin-bottom: 240px;
}
@media screen and (max-width: 900px) {
  .header_body .slider_heading h2 {
    font-size: 44px;
    min-height: 0;
  }
  .header_body .slider_heading h3 {
    font-size: 15px;
    min-height: 0;
  }
}
@media screen and (max-width: 900px) {
  .header_body .slider_heading {
    padding-top: 60px;
  }
}
.header_body .slick-dots {
  position: absolute;
  top: 25%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 15px 0 0;
  width: 0;
  bottom: 0;
}
.header_body .slick-dots li {
  list-style: none;
  margin: 10px 0;
}
.header_body .slick-dots li button {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  text-indent: -9999px;
  outline: none;
  transition: background-color 0.3s ease;
}
@media screen and (max-width: 900px) {
  .header_body .slick-dots {
    visibility: hidden;
  }
}
.header_body .slick-dots button:hover,
.header_body .slick-dots .slick-active button {
  background-color: #fff;
}
@media screen and (max-width: 900px) {
  .header_body {
    margin-top: 0;
    padding-top: 150px;
  }
}

.pointer_down {
  margin-bottom: 50px;
  position: relative;
  top: -40px;
  left: 0px;
}
.pointer_down a {
  text-decoration: none;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.pointer_down a:hover {
  background: #fff;
  border-color: #fff;
  transform: scale(1.15);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
  animation: bounce 0.4s ease-in-out;
}
.pointer_down a:hover i {
  color: #0077FF;
  transform: scale(1.3);
}
.pointer_down a i {
  position: absolute;
  top: 35%;
  left: 30%;
  font-size: 15px;
}
@media screen and (max-width: 900px) {
  .pointer_down {
    top: -90px;
  }
}

nav {
  font-family: "Source Sans 3", serif;
  max-width: 515px;
  height: 18px;
  width: 100%;
}
nav .header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  position: relative;
}
nav a::before {
  content: "";
  border: 1px solid #fff;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  margin-right: 14px;
  display: inline-block;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
nav li {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  position: relative;
}
nav li:hover a {
  color: #d00000;
  text-decoration: underline;
}
nav li:hover a::before {
  background-color: #fff;
  border-color: #fff;
}
@media screen and (max-width: 1220px) {
  nav li {
    font-size: 18px;
  }
}

.header_icons {
  margin-left: 115px;
  width: 100%;
  max-width: 160px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.header_icons a {
  display: flex;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background: transparent;
  box-shadow: 0px 0px 10px transparent;
}
.header_icons a:hover {
  background: #fff;
  border-color: #fff;
  transform: scale(1.15);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
  animation: bounce 0.4s ease-in-out;
}
.header_icons a:hover i {
  color: #0077FF;
  transform: scale(1.3);
}
.header_icons i {
  width: 16px;
  height: 18px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  text-align: center;
  top: 33%;
  left: 30%;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
@media screen and (max-width: 1220px) {
  .header_icons {
    margin-left: -125px;
  }
}

.header_icons a:nth-child(1):hover i {
  color: #1877F2;
  position: absolute;
  top: 32%;
  left: 28%;
}

.header_icons a:nth-child(2):hover i {
  color: #1DA1F2;
}

.header_icons a:nth-child(3):hover i {
  color: #E4405F;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.15);
  }
}
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 21%;
  right: 10px;
  z-index: 45;
}
.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 4px;
}

.bar.hidden {
  display: none;
}

.close-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: transform 0.3s ease;
}
.close-button:hover {
  transform: translateY(5px);
}

@media screen and (max-width: 900px) {
  .hamburger-menu {
    display: flex;
  }

  .header_nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100vh;
    background-color: #55B7FF;
    padding: 20px;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    z-index: 44;
  }
  .header_nav li {
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
  }

  .header_nav.active {
    display: flex;
  }

  .header_nav.active .close-button {
    display: block;
  }

  .header_menu {
    flex-direction: column;
    gap: 50px;
    position: relative;
    top: 30%;
  }
}
@media screen and (max-width: 380px) {
  .header_nav {
    width: 50%;
  }
}
.what_we_do {
  background-color: #fff;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.what_we_do_title {
  width: 100%;
  max-width: 324px;
  margin: 0 auto;
}
.what_we_do_title:before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #2c4058;
}
.what_we_do_title h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #2c4058;
  margin-top: 30px;
  text-transform: uppercase;
}

.projects {
  margin-top: 89px;
}
.projects img {
  position: relative;
  z-index: 10;
  vertical-align: top;
  box-shadow: -260px -57px #55B7FF;
}

.project_1,
.project_2 {
  width: 100%;
  max-width: 1385px;
  height: 527px;
}

.project_1 {
  margin-right: 215px;
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
.project_1 .project_image {
  width: 100%;
  height: 100%;
}

.project_details {
  padding-top: 85px;
  padding-bottom: 25px;
  width: 100%;
}
.project_details h3 {
  font-size: 22px;
  color: #2c4058;
  font-weight: 400;
  text-transform: uppercase;
}
.project_details h2 {
  font-size: 44px;
  color: #2c4058;
  font-weight: bold;
  text-transform: uppercase;
}
.project_details p {
  font-size: 18px;
  color: #2c4058;
  line-height: 30px;
  font-weight: 400;
  font-family: "Source Sans 3", serif;
  margin-top: 19px;
  letter-spacing: 1px;
}
.project_details button {
  margin-top: 41px;
  width: 100%;
  max-width: 190px;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #2c4058;
  background-color: #fff;
  cursor: pointer;
  padding: 16px 41px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  outline: none;
}
.project_details button:hover {
  background: #55B7FF;
  border-color: #55B7FF;
  color: #2c4058;
  box-shadow: 0px 0px 15px rgba(85, 183, 255, 0.6);
}
.project_details button:active {
  transform: scale(0.95);
  background: #d00000;
  border-color: #d00000;
  box-shadow: 0px 0px 15px rgba(208, 0, 0, 0.6);
}
.project_details button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 80%);
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}
.project_details button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.project_details .coordinates {
  margin-top: 60px;
}
.project_details .coordinates i {
  font-size: 15px;
  color: #2c4058;
  margin-right: 10px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.project_details .coordinates i:hover {
  color: #d00000;
  transform: scale(1.2);
}
.project_details .coordinates a {
  color: #2c4058;
  font-family: "Source Sans 3", serif;
  font-size: 15px;
  font-style: italic;
}

.project_2 {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}
.project_2 img {
  box-shadow: 260px -57px #7E5AFF;
}

#news {
  padding-top: 40px;
}

.news_section {
  background: url("../images/news_background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 143px;
}

.news_section_content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news_section_content .news_title {
  width: 100%;
  max-width: 327px;
  padding-top: 135px;
  text-align: center;
}
.news_section_content .news_title:before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #fff;
}
.news_section_content .news_title h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.article .slick-dots li button::before {
  content: "";
  color: transparent;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  opacity: 1;
}
.article .slick-dots li.slick-active button::before {
  background-color: #fff;
  opacity: 1;
}
.article .slick-dots li button:hover::before {
  background-color: #fff;
  opacity: 1;
}
.article .slick-dots {
  position: static;
  margin-top: 60px;
}
.article .slick-prev:before,
.article .slick-next:before {
  content: none;
  display: none;
}
.article .slick-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
}
.article .slick-next {
  right: -85px;
}
.article .slick-prev {
  left: -100px;
}
.article button.slick-arrow:hover {
  background: #fff;
  border-color: #fff;
  zoom: 1.1;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
}
.article button.slick-arrow:hover i {
  color: #0077FF;
  transform: scale(1.1);
}
.article i {
  font-size: 14px;
  color: #fff;
}

.carousel {
  margin: 89px auto 0;
  width: 90%;
  max-width: 1170px;
}

.article_details {
  width: 100%;
  max-width: 370px;
  height: 514px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 0 20px 0 15px;
}
.article_details img {
  width: 100%;
  height: 240px;
}
.article_details h2 {
  margin: 30px 20px 15px;
  color: #2c4058;
  font-weight: bold;
  font-size: 22px;
}
.article_details p {
  margin: 0 20px 39px;
  color: #2c4058;
  font-size: 18px;
  font-weight: 400;
  font-family: "Source Sans 3", serif;
  letter-spacing: 0.5px;
}
.article_details p:nth-child(3) {
  letter-spacing: 0.6px;
}
.article_details .authors {
  display: flex;
  align-items: center;
  margin: 0 115px 30px 20px;
  white-space: nowrap;
}
.article_details .authors img {
  width: 100%;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
}
.article_details .authors .author_details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.article_details .authors .author_details h3 {
  color: #2c4058;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 6px;
}
.article_details .authors .author_details p {
  color: #55B7FF;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.gallery {
  background-color: #fff;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.gallery_main_text {
  padding-top: 140px;
}
.gallery_main_text:before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #2c4058;
}
.gallery_main_text h2 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
  color: #2c4058;
}

.main_gallery {
  padding-top: 89px;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.grid_gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 9px 9px;
  padding-bottom: 60px;
}
.grid_gallery .gallery_image:first-of-type {
  grid-area: 1/1/3/3;
}

.see_more_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 140px;
}
.see_more_button button {
  width: 100%;
  max-width: 190px;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #2c4058;
  background-color: #fff;
  cursor: pointer;
  padding: 16px 41px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  outline: none;
}
.see_more_button button:hover {
  background: #55B7FF;
  border-color: #55B7FF;
  color: #2c4058;
  box-shadow: 0px 0px 15px rgba(85, 183, 255, 0.6);
}
.see_more_button button:active {
  transform: scale(0.95);
  background: #d00000;
  border-color: #d00000;
  box-shadow: 0px 0px 15px rgba(208, 0, 0, 0.6);
}
.see_more_button button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 80%);
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}
.see_more_button button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

#map {
  min-height: 700px;
  z-index: 1;
}

.form {
  height: 450px;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 60px 55px 54px 55px;
  width: 100%;
  max-width: 770px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.form .contact_header:before {
  content: "";
  display: block;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #2c4058;
}
.form h2 {
  text-transform: uppercase;
  color: #2c4058;
  font-weight: bold;
  font-size: 44px;
  padding-top: 30px;
  margin-bottom: 42px;
}
.form .contact_details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 55px;
}
.form .contact_details .contact_details_info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 286px;
  color: #2c4058;
}
.form .contact_details .contact_details_info .contact_details_info_details {
  font-size: 15px;
}
.form .contact_details .contact_details_info .contact_details_info_details p {
  display: inline-block;
}
.form .contact_details .contact_details_info .contact_details_info_details i {
  margin-right: 10px;
  color: #7E5AFF;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.form .contact_details .contact_details_info .contact_details_info_details i:hover {
  color: #d00000;
  transform: scale(1.2);
}

#name::placeholder {
  color: #000;
}

#name {
  border-bottom: 1px solid #000;
}

.contact_information {
  display: flex;
  flex-direction: column;
}
.contact_information input {
  width: 100%;
  font-size: 18px;
  margin-bottom: 30px;
  padding: 0 0 15px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contact_information .submit_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact_information .submit_info button {
  width: 100%;
  max-width: 140px;
  height: 50px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #2c4058;
  background-color: #fff;
  cursor: pointer;
  padding: 16px 41px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  outline: none;
}
.contact_information .submit_info button:hover {
  background: #55B7FF;
  border-color: #55B7FF;
  color: #2c4058;
  box-shadow: 0px 0px 15px rgba(85, 183, 255, 0.6);
}
.contact_information .submit_info button:active {
  transform: scale(0.95);
  background: #d00000;
  border-color: #d00000;
  box-shadow: 0px 0px 15px rgba(208, 0, 0, 0.6);
}
.contact_information .submit_info button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 80%);
  transition: all 0.5s ease-in-out;
  transform: translate(-50%, -50%) scale(0);
}
.contact_information .submit_info button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

footer {
  background-image: url("../images/footer_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.footer_container {
  padding: 230px 160px 0 190px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  gap: 370px;
  justify-content: space-evenly;
}

.credit_container {
  display: flex;
  flex-direction: column;
  gap: 41px;
  align-items: center;
}
.credit_container img {
  transition: transform 0.3s ease-in-out;
}
.credit_container:hover img {
  transform: scale(1.1);
}
.credit_container p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.credit_container p:hover {
  color: #d00000;
  transform: scale(1.1);
}

.social_icons_footer {
  max-width: 160px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}
.social_icons_footer a {
  display: flex;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background: transparent;
  box-shadow: 0px 0px 10px transparent;
}
.social_icons_footer a:hover {
  background: #fff;
  border-color: #fff;
  transform: scale(1.15);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
  animation: bounce 0.4s ease-in-out;
}
.social_icons_footer a:hover i {
  color: #0077FF;
  transform: scale(1.3);
}
.social_icons_footer i {
  width: 16px;
  height: 18px;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  text-align: center;
  top: 33%;
  left: 30%;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social_icons_footer a:nth-child(1):hover i {
  color: #1877F2;
  position: absolute;
  top: 32%;
  left: 28%;
}

.social_icons_footers a:nth-child(2):hover i {
  color: #1DA1F2;
}

.social_icons_footer a:nth-child(3):hover i {
  color: #E4405F;
}