body {
    box-sizing: border-box;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 40px;
}

.container {
    background-color: #3399cc;
    border: 25px solid #2b81ac;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

img {
    margin-left: 10px;
    max-width: 30px;
    height: auto;
}

ul {
    padding: 0;
    font-size: 0;
    border: 3px solid white;
    display: flex;
    flex-wrap: wrap;
}

.blocks li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    border: 2px solid #fff;
    text-align: center;
}

li {
    height: 150px;
    font-size: 16px;
    box-sizing: border-box;
}

div p {
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    margin-left: 10px;
    font-size: 24px;
}

ul:hover li {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

ul:hover li:hover {
    opacity: 1;
}

.blocks li:hover div {
    opacity: 1;
}

.block50 {
    width: 50%;
}

.block25 {
    width: 25%;
}

.block100 {
    width: 100%;
}

/* City background colors */
#lisbon {
    background-color: #3399cc;
}

#paris {
    background-color: #33cccc;
}

#belgrade {
    background-color: #996699;
}

#venice {
    background-color: #c24747;
}

#telaviv {
    background-color: #e2674a;
}

#cairo {
    background-color: #ffcc66;
}

#newyork {
    background-color: #99cc99;
}

#newdelhi {
    background-color: #669999;
}

#sanfran {
    background-color: #cc6699;
}

#tokyo {
    background-color: #339966;
}

#sydney {
    background-color: #666699;
}


/* Media Queries for Responsiveness */
@media screen and (max-width: 1200px) {
    .container {
        border-width: 15px;
    }
}

@media screen and (max-width: 992px) {
    .block25 {
        width: 50%;
    }

    li {
        height: 120px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
        border-width: 10px;
    }

    .block50,
    .block25 {
        width: 100%;
    }

    li {
        height: 100px;
    }

    i {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        border-width: 5px;
    }

    li {
        height: 80px;
        font-size: 14px;
    }

    i {
        font-size: 18px;
    }
}