body{
    box-sizing: border-box;
    color: #fff;
    font-family: "Noto Sans", sans-serif;
    cursor:pointer
    height:100vh
}

.container{
    background-color: #3399cc;
    border: 25px solid #2b81ac;
    max-width: 985px;
    margin: 0 auto;
    padding: 20px 80px;
    
}

img {
    margin-left: 10px;
}

ul {
    padding: 0;
    font-size: 0;
    border: 3px solid white;
}

.blocks li {
    display: inline-block;
    padding: 25px 0;
    border: 2px solid #fff;
}

li {
    height: 150px;
    font-size: 20px;
    box-sizing: border-box;
}


div p {
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    margin-left: 10px;
}

ul:hover li {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

ul:hover li:hover {
    opacity: 1;
}

.blocks li:hover div{
    opacity: 1;
}

.blocks i {
    font-size: 30px;
}

.block50{
    width: 50%;
}

.block25{
    width: 25%;
}

.block100{
    width: 100%;
}

#lisbon{
    background-color: #3399cc;
}

#paris{
    background-color: #33cccc;
}

#belgrade{
    background-color: #996699;
}

#venice{
    background-color: #c24747;
}

#telaviv{
    background-color: #e2674a;
}

#cairo{
    background-color: #ffcc66;
}

#newyork{
    background-color: #99cc99;
}

#newdelhi{
    background-color: #669999;
}

#sanfran{
    background-color: #cc6699;
}

#tokyo{
    background-color: #339966;
}

#sydney{
    background-color:#666699;
}
